:root {
    --primary: #79C000;
    --secondary: #1A1F16;
    --light-secondary: #22291d;
    --darker-secondary: #11140f;
    --backgroud: #ffffff;
    --accent: #E6B89C;
    --text-light: #FFFFFF;
    --text-medium: #DDDDDD;
    --text-dark: #000000;
}

body {
    background-color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-light);
    margin: 0;
}

.align {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

/* #region Landing */

div.landing {
    height: 60dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

div.landing img {
    height: 8rem;
    object-fit: cover;
}

div.landing.headings {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

div.landing h1 {
    font-size: 3.5rem;
    margin: 0;
}

div.landing h2 {
    font-weight: normal;
    margin: 0;
}

/* #region Waves */

.ocean { 
    height: 5dvh;
    width: 100dvw;
    background: var(--secondary);
    overflow-x: clip;
    position: relative;
    margin-top: 198px;
  }
  
  .wave {
    background: url('../assets/images/wave.svg') repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

/* #endregion */

/* #endregion */

/* #region Projects */

.projects {
    background-color: var(--secondary);
    height: fit-content;
    width: 100dvw;
    padding: 4rem 2rem;
    box-sizing: border-box;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3rem;
    justify-content: space-between;
    word-wrap: break-word;
}

.card {
    background-color: var(--light-secondary);
    width: fit-content;
    height: fit-content;
    color: var(--text-medium);
    padding: 2rem;
    box-sizing: border-box;
    max-width: 30%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
}

.card .card-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 1.2rem;
}

.card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card .card-text {
    flex-grow: 1;
}

.card .card-button {
    background-color: var(--primary);
    color: var(--light-secondary);
    padding: 1rem 2rem;
    border-radius: 999px;
    align-self: flex-end;
    margin-top: 3rem;
}

.card-button:hover {
    cursor: pointer;
    background-color: var(--darker-secondary);
    color: var(--text-medium)
}

/* #endregion */

/* #region Contacts */

.contacts {
    background-color: var(--secondary);
    padding: 2rem;
}

.contacts h2 {
    color: var(--primary);
    font-size: 2.75rem;
}

.button {
    background-color: var(--darker-secondary);
    padding: 1.5rem 2.5rem;
    border-radius: 999px;
    margin-top: 1rem;
    width: fit-content;
    height: fit-content;
    color: var(--text-medium);
}

.button:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--darker-secondary);
}

/* #endregion */

/* #region Footer */

.footer {
    background-color: var(--secondary);
    padding: 2rem;
    padding-top: 6rem;
    color: var(--text-medium);
}

.footer .align {
    display: flex;
    justify-content: right;
}

/* #endregion */


